@model IEnumerable<NexGenMVC.Models.Fn_GetIntervention_Result1>
@*@model IEnumerable<NexGenMVC.Models.Fn_GetClint_Result>*@
@{
    ViewBag.Title = "Intervention";
    Layout = "~/Views/Shared/_SiteEngineerLayoutPage.cshtml";
}

<h2>Intervention</h2>

<p>
  @*  @Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("NewIntervention", "SiteEngineer", "NewIntervention")" class="elements"><span>New Intervention</span></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.interventionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interventionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interventionHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interventionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
       <th>
           @Html.DisplayNameFor(model =>model.notification)
       </th>
      
       
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
           @Html.DisplayFor(modelItem=>item.interventionId)
       </td>
        <td>
            @Html.DisplayFor(modelItem=>item.clientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interventionTypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.interventionHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interventionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
 
       @if (item.status.Trim() == "Proposed" || item.status.Trim() == "Approved")
       {
        <td>
            @Html.ActionLink("EditIntervention", "EditIntervention", new { id = item.interventionId }) 
        </td>
       }
       
           @if(item.notification==1)
           {
               <td>
                   <img src="~/Images/collapse_panel.png" />
                   </td>
           }
       
    </tr>
}

</table>
