@model IEnumerable<NexGenMVC.Models.Fn_GetInterventionForEdit_Result3>
@{
    ViewBag.Title = "EditIntervention";
    Layout = "~/Views/Shared/_ManagerLayoutPage.cshtml";
}


<h2>EditIntervention</h2>
@using (Html.BeginForm("EditIntervention", "Manager", FormMethod.Post))
    {
<form id="frmEditIntervention">
    <table class="table table-bordered" style="margin-left: 20px; border-collapse: separate; border-spacing: 8px;">
        <tr>
            <td style="text-align: right">Intervention Id</td>
            <td style="text-align: left"><input type="text" id="txtInterventionId" name="txtInterventionId" value="@Model.First().interventionId" readonly /></td>
        </tr>
        <tr>
            <td style="text-align: right">Client Id</td>
            <td><input type="text" id="txtClientId" name="txtClientId" value="@Model.First().clientID" readonly/>            </td>
        </tr>
        <tr>
            <td style="text-align: right">Intervention Type</td>
            <td style="text-align: left">
                <input type="text" name="txtInterventionType" id="txtInterventionType" value="=@Model.First().interventionTypeName" readonly/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Intervention Hours</td>
            <td style="text-align: left"><input type="text" id="txtInterventionHours" name="txtInterventionHours" value="@Model.First().interventionHours" readonly /></td>
        </tr>
        <tr>
            <td style="text-align: right">Intervention Costs</td>
            <td style="text-align: left"><input type="text" id="txtInterventionCosts" name="txtInterventionCosts" value="@Model.First().interventionCost" readonly /></td>
        </tr>
        <tr>
            <td style="text-align: right">Intervention Status</td>
            <td style="text-align: left">
                <select id="ddlStatus" name="ddlStatus">
                     <option>Approved</option>
                    <option>Cancelled</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" id="EditIntervention" name="EditIntervention"  value="EditIntervention" /></td>
        </tr>

    </table>
</form>
    }

    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
